.coinContainer {
    width: fit-content;
    margin: 50px auto;
    background-color: #f6f6f6;
    border: 1px solid silver;
    border-radius: 10px;
}

input {
    width: 600px;
    height: 30px;
    margin-top: 30px;
    border: 1px solid silver;
    padding: 5px;
    border-radius: 5px;
    background-color: #f6f6f6;
}

input:focus {
    outline: none;
    background: white;
    border-color: white;
    box-shadow: rgba(74, 74, 74, 0.24) 0px 3px 8px;
}

.spinner {
    width: 150px;
}